params {
    outdir = 'results'
    pacbio_reads = 'results/filtered_reads/hifi'
    hic_reads = 'results/filtered_reads/hic'
    sample_id = null

    // defaults for config file - currently set up for fish, ymmv
    busco_lineage = 'actinopterygii'
    busco_version = 'odb10'
    scientific_name = 'Genus species'
    mito_min_length = '15000'
    mito_code = 2
}

// enable reporting
//dag.enabled = true
//report.enabled = true
//timeline.enabled = true
//trace.enabled = true


profiles {

    pawsey {

        params {
            //config_profile_description = 'Pawsey Setonix HPC profile provided by nf-core/configs'
            //config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft), Georgie Samaha (@georgiesamaha)'
            //config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
            max_cpus                   = 64
            max_memory                 = 230.GB
        }

        // Enable use of Singularity to run containers
        singularity {
            enabled     = true
            autoMounts  = true
            autoCleanUp = true
        }

        // Submit up to 1024 concurrent jobs
        executor {
            queueSize = 1024
        }

        // Define process resource limits
        // See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
        process {
            resourceLimits = [
                memory: 230.GB,
                cpus: 64
            ]
            executor       = 'slurm'
            clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
            module         = 'singularity/4.1.0-nohost'
            cache          = 'lenient'
            stageInMode    = 'symlink'
            queue = { task.memory <= 230.GB ? 'work' : 'highmem' }
            
            withName: CONCAT_PACBIO_BAM {
                container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'
                cpus = 8
                memory = 8.GB
                time = '2h'
                queue = 'work'
            }

            withName: CONCAT_PACBIO_FASTQ {
                container = 'quay.io/biocontainers/seqkit:2.10.1--he881be0_0'
                cpus = 8
                memory = 8.GB
                time = '2h'
                queue = 'work'
            }

            withName: CONCAT_HIC_READS {
                container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'
                cpus = 8
                memory = 8.GB
                time = '2h'
                queue = 'work'
            }

            withName: CREATE_CONFIG_FILE {
                cpus = 1
                ntasks = 1
                memory = 4.GB
                time = '1h'
            }
        }

        aws { 
            client {
                endpoint = 'https://projects.pawsey.org.au'
                s3PathStyleAccess = true
                maxConnections = 4
                maxErrorRetry = 20
                uploadMaxAttempts = 20
            }
        }
    }
}   